[Unit]
Description=Notes App Backend
After=network.target

[Service]
User=root
WorkingDirectory=/home/root/nms2/nms2
Environment="PATH=/home/root/nms2/env/bin"
ExecStart=/home/root/nms2/env/bin/python /home/root/nms2/nms2/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 