.notes-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.notes-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.note-item {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.note-item.active {
  background-color: #f0f0f0;
}

.note-item .title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item .delete-button {
  opacity: 0;
  color: #ff4444;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.note-item:hover .delete-button {
  opacity: 1;
}

.delete-button {
  background: none;
  border: none;
  color: #ff4444;
  cursor: pointer;
}

.delete-button:hover {
  color: #ff0000;
} 